
.BetArea {
    width: 70%;
    background-color: #C4AF9A;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.BetText {
    margin-right: 10px;
}

.BetInput {
    margin-left: 5px;
    width: 60px;
    margin: 0;
    box-shadow: none;
    outline: none;
    border-radius: 15px;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 3px;

}

.IncrementButton,
.DecrementButton {
    margin: 0.5px;
    position: relative;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 3rem;
    font-weight: bolder;
    cursor: pointer;
    outline: none;
    padding-top: 1px;
    line-height: 1; 
    background-color: transparent;
}

.IncrementButton {
    color: red; /* Modifier la couleur en rouge */
}

.DecrementButton {
    color: blue; /* Modifier la couleur en bleu */
}


.betButtons {
    display: flex;
    flex-direction: column; /* Aligne les boutons verticalement */
  }

.euro-symbol {
    margin-left: 5px;
    /* Ajoute un espacement entre l'input et le symbole */
    margin-right: 5px;
    /* Ajoute un espacement entre l'input et le symbole */
    font-size: 1.2rem;
    /* Ajuste la taille du symbole si nécessaire */
}

.BetButton{
    border: none;
    width: 6rem;
    border-radius: 15px;
    margin: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #01781F;
    color: white;
}
.StopButton{
    border: none;
    width: 6rem;
    border-radius: 15px;
    margin-right: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #B20A0A;
    color: white;


}