.deck-img {
  width: 5em;
  height: auto;
}

.deckReverse {
  text-align: left;
  position: left 100px;
  margin-left: 50px;
}

.discardPileZone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #00763a;
}
