.chip-zone {
  display: flex;
  /* width: 300px; */
  background-color: #00763a;
  /* color: #fff; */
  padding: 5px;
}

.chip-container {
  /* Ajoute de l'espace autour de chaque chip-container */
  margin: 10px;
}
