.ChatBox {
    width: 30%;
    height: 100px;
    /* overflow-y: auto; */
    background-color: #D9D9D9;
}

.MessagesContainer {
    height: 100px;
    overflow-y: auto;
}
.InputContainer {
    display: flex;
    /* width: 100%; */
}

.ChatInput {
    width: 80%;
    flex: 8;
}

.SendButton {
    width: 20%;
    flex: 2;
}